* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --radius: 0.25rem;
  --main-color: #489fb5;
  --second-color: #82c0cc;
  --complementary-color: #ffa62b;
  --bg-color: #16697a;
  --text-color: #ede7e3;
  --red: #ff412b;
  --transition: 0.25s ease;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #e3f2fd;
}

.wrapper {
  width: 65vmin;
  height: 70vmin;
  background: var(--main-color);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: var(--radius);

  & .game-details {
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
  }

  & .play-board {
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);

    & .food {
      background: var(--red);
      border-radius: 1rem;
    }

    & .s-head {
      background: rgb(170, 224, 89);
    }
  }
}

.modal-container {
  position: fixed;
  visibility: hidden;

  & .modal {
    padding: 4rem;
    background: var(--second-color);
    border-radius: var(--radius);
    box-shadow: 1px 10px 10px rgba(41, 41, 41, 0.119);
    text-align: center;

    & h1 {
      margin-bottom: 0.5rem;
    }

    & p {
      margin-bottom: 2rem;
    }

    & span {
      font-weight: bold;
    }

    & button {
      padding: 1rem;
      font-weight: bold;
      background: var(--complementary-color);
      border-radius: var(--radius);
      border: var(--bg-color) solid 2px;
      transition: filter var(--transition);

      &:hover {
        filter: brightness(1.1);
      }

      &:active {
        transform: scale(1.01);
      }
    }
  }
}
